<html>
    <head>
        <title>Savage</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Savage Blog</a></h1>
        </div>

        <div>
            <p>published: 25.05.2019, 06:30</p>
            <h2><a href="">My first post</a></h2>
            <p>This is official savage post for future! people </p>
        </div>

        <div>
            <p>published: 25.05.2019, 06:31</p>
            <h2><a href="">My second post</a></h2>
            <p>Welcome focks this is ever everything started</p>
        </div>
    </body>
</html>